.computers {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(70px);
}

.computers__title {
    margin-bottom: rem(50px);

    @include tablets {
        margin-bottom: rem(20px);
    }
}

.title {
    font-size: rem(48px);
    line-height: rem(55px);
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(to right, #3759e4, #d297d4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablets {
        font-size: rem(38px);
        line-height: 1.42;
        text-transform: none;
    }

    @include phones {
        font-size: rem(35px);
        line-height: 1.42;
        text-transform: none;
    }
}

.decor {
    font-size: rem(21px);
    line-height: rem(24px);
    font-weight: 700;
    text-transform: uppercase;
    color: #6360C0;
}

.computers__content {
    display: flex;

    @include tablets {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    @include phones {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

}

.one {
    width: 55%;

    @include tablets {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    @include phones {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

.two {
    height: 100%;

    @include tablets {
        width: 100%;
        
    }

    @include phones {
        width: 100%;
        
    }

}


.computer__text-big {
    margin-bottom: rem(50px);
    margin-right: rem(40px);
    font-size: rem(21px);
    line-height: rem(24px);
}

.computer__line {
    margin-bottom: rem(37px);
    min-width: 100%;
}

.comp__item {
    display: flex;
    align-items: flex-start;

    margin-bottom: rem(20px);
}

.item {
    margin-right: rem(10px);
    margin-top: rem(5px);
}